.guest{
    border-radius:10px;
    margin-bottom:10px;
    background:#98B2C3;
}
.e1{
    background:#3D5E73;
    border-radius:8px;

}
.e1:hover {
    background:#1A2730;
}

.e2{
    border-radius:10px;
}